<h1>Verification Page</h1>

<div>
    Username:<input type="text" id="txtgender" value="gender" placeholder="gender"/>
    Password:<input type="text" id="txtpass" value="password" placeholder="password"/>
    <input type="button" id="btn" value="Authenticate and get employees" />
</div>
<ul id="ulEmployees"></ul>